# PF: SBSA
# PFDESCR: SystemReady SR (SBSA Level 4)
# PFSELECT: BIT64_CHOICE
# PFSELECT: CAN_ARM_CPU_CORTEX_A76 CAN_ARM_CPU_NEOVERSE_N1
# PFSELECT: ARM_GIC HAVE_ARM_GICV3 HAVE_ARM_GIC_MSI
# PFSELECT: HAS_ARM_PSCI HAS_ARM_PSCI_DYNAMIC ARM_PSCI ARM_ACPI
# PFSELECT: ARM_ASID16
# PFSELECT: HAS_ARM_SVE
# PFDEPENDS: ARM
