# PF: BCM283X
# PFDESCR: Broadcom 2835, 2836 & 2837
# PFDEPENDS: ARM

choice
        prompt "Raspberry Pi variant"
        default PF_BCM283X_RPI3

config PF_BCM283X_RPI1
        bool "rpi1"
        depends on PF_BCM283X
        select CAN_ARM_CPU_1176

config PF_BCM283X_RPI2
        bool "rpi2"
        depends on PF_BCM283X
        select CAN_ARM_CPU_CORTEX_A7

config PF_BCM283X_RPI3
        bool "rpi3"
        depends on PF_BCM283X
        select CAN_ARM_CPU_CORTEX_A53

endchoice
