# PF: CI40
# PFDESCR: MIPS Creator Ci40
# PFDEPENDS: MIPS
# PFSELECT: SYS_HAS_CPU_MIPS32_R2
# PFSELECT: HAS_MP_OPTION
# PFSELECT: HAS_LIGHTWEIGHT_BARRIERS_OPTION
# PFSELECT: DEFAULT_LIGHTWEIGHT_BARRIERS
