# PF: FVP_BASE
# PFDESCR: ARM FVP Base Platform
# PFDEPENDS: ARM
# PFSELECT: ARM_GIC HAVE_ARM_GICV3 HAVE_ARM_GIC_MSI HAS_ARM_PSCI
# PFSELECT: CAN_ARM_CPU_CORTEX_A53 CAN_ARM_CPU_CORTEX_A72
# PFSELECT: CAN_ARM_CPU_CORTEX_A57
# PFSELECT: HAS_ARM_SVE
# PFSELECT: ARM_IOMMU_COHERENT HAS_IOMMU_ARM_SMMU_V3

config ARM_IOMMU_MAX
	int
	default 1 if IOMMU

config ARM_IOMMU_STAGE2
	bool
	default y if IOMMU && CPU_VIRT
