# PF: LAYERSCAPE
# PFDESCR: NXP/Freescale Layerscape
# PFSELECT: HAS_ARM_PSCI ARM_GIC HAVE_ARM_GICV2
# PFDEPENDS: ARM

choice
	prompt "Layerscape variant"
	default PF_LS1021A

config PF_LS1021A
	bool "LS1021A"
	select CAN_ARM_CPU_CORTEX_A7
	select HAS_IOMMU_OPTION

config PF_LS1012A
	bool "LS1012A"
	select CAN_ARM_CPU_CORTEX_A53

endchoice

config ARM_IOMMU_NUM
  int
  default 4 if IOMMU

config IOMMU_ARM_SMMU_400
  bool
  select ARM_IOMMU_COHERENT
  default y if IOMMU
