# PF: RISCV_VIRT
# PFDESCR: QEMU RISC-V Virtual Platform
# PFDEPENDS: RISCV
# PFSELECT: HAS_MP_OPTION HAS_FPU_OPTION
# PFSELECT: CAN_RISCV_CPU_32IMA CAN_RISCV_CPU_64IMA CAN_RISCV_SV39 CAN_RISCV_SV48
# PFSELECT: RISCV_ASID
# PFSELECT: HAS_CPU_VIRT CAN_RISCV_VMID
