# PF: ARM_VIRT
# PFDESCR: QEMU ARM Virtual Platform
# PFSELECT: CAN_ARM_CPU_CORTEX_A15 CAN_ARM_CPU_CORTEX_A57 HAS_ARM_PSCI
# PFSELECT: ARM_PSCI FORCE_ARM_PSCI_HVC ARM_GIC HAVE_ARM_GICV2 HAVE_ARM_GICV3
# PFDEPENDS: ARM

