# PF: ARM_VIRT
# PFDESCR: QEMU ARM Virtual Platform
# PFSELECT: CAN_ARM_CPU_CORTEX_A15 CAN_ARM_CPU_CORTEX_A57 HAS_ARM_PSCI
# PFSELECT: ARM_PSCI FORCE_ARM_PSCI_HVC ARM_GIC HAVE_ARM_GICV2 HAVE_ARM_GICV3
# PFDEPENDS: ARM

config PF_ARM_VIRT_PT48
	bool "Support user-level address space of 48bits (256TB)"
	depends on CPU_VIRT && BIT64
	select ARM_PT48
	help
	  Build Fiasco with 4-level page-tables for user-level tasks.
	  Requires that QEMU runs with a CPU model that supports
	  48bit address spaces in stage-2 page-tables.
